<?xml version="1.0"?>
<config>
  <modules>
    <Sslwireless_Sslcommerz>
      <version>0.1.0</version>
    </Sslwireless_Sslcommerz>
  </modules>
  <global>
    <models>
      <sslcommerz>
        <class>Sslwireless_Sslcommerz_Model</class>
      </sslcommerz>
    </models>
    <helpers>
      <sslcommerz>
        <class>Sslwireless_Sslcommerz_Helper</class>
      </sslcommerz>
    </helpers>
    <blocks>
      <sslcommerz>
        <class>Sslwireless_Sslcommerz_Block</class>
      </sslcommerz>
    </blocks>
  </global>
  <default>
    <payment>
      <sslcommerz>
        <model>sslcommerz/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>Pay with Debit/Credit Card(Sslcommerz)</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
      </sslcommerz>
    </payment>
  </default>
  <frontend>
    <routers>
      <sslcommerz>
        <use>standard</use>
        <args>
          <module>Sslwireless_Sslcommerz</module>
          <frontName>sslcommerz</frontName>
        </args>
      </sslcommerz>
    </routers>
  </frontend>
</config>
